.App {
  text-align: center;
}
.Array{
 
  display: flex;
  flex-wrap: wrap;
}
.Map{
 
  display: flex;
  flex-wrap: wrap;
}
.App-logo {
  height: 40vmin;
}
table, td,th {
  border: 1px solid black;
  border-collapse:collapse;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
